
          <p id="status">Please select a photo to upload.</p> -->
          <!-- <img id="preview" src="/static/images/upload.png" />
          <input type="file" id="file_input"/>

          <form enctype="multipart/form-data" method="POST" action="/submit_form/">
            <input type="text" name="photo-title" placeholder="Photo Title">
            <input type="submit" value="Upload Photo">
          </form> -->


         <!-- <div class="fileinput fileinput-new" data-provides="fileinput" style="margin-left: auto; margin-right: auto; width: 100%;">
          <div class="fileinput-new thumbnail" style="width: 100%; height: 71vw;">
            <img src="{% static 'images/upload.png' %}" alt="...">
          </div>
          <div class="fileinput-preview fileinput-exists thumbnail" style="margin-left: auto; margin-right: auto; max-width: 100%; max-height: 60vw;"></div>
          <div>
            <span class="btn btn-primary btn-lg btn-block btn-file"><span class="fileinput-new">Select Image</span><span class="fileinput-exists">Change</span><input type="file" id="file-input"></span>
            <form enctype="multipart/form-data" method="POST" action="/submit_form/">
              <input type="text" name="photo-title" class="form-control form-control-lg fileinput-exists" style="margin-top: 15px; margin-bottom: 5px" placeholder="Photo Title">
              <input type="submit" class="btn btn-success btn-lg btn-block fileinput-exists" value="Upload Photo">
            </form>
          </div>
        </div>
