{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<script src="{% static 'js/sorttable.js' %}"></script>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h2>Photos</h2>
    <h4>You can click on the headers to sort...</h4>

  <!-- <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form> -->

    <table class="table table-bordered sortable">
      <thead>
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">Uploaded</th>
          <th scope="col">Likes</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for photo in photos %}
          {% if photo.publish %}
            <tr>
              <td>
                <img src="{{ photo.upload.url }}" alt="{{ photo.upload.name }}" style="width: 100%; height: auto;">

              </td>
              <td>{{ photo.uploaded_at }}</td>
              <td><span class="likesnum">{{ photo.get_num_of_likes }}</span></td>
              <td>
                {% if user in photo.likes.all %}
                  <a href="{% url 'photos:like-toogle' slug=photo.slug %}"
                    class="btn btn-danger"> Unlike </a>
                {% else %}
                  <a href="{% url 'photos:like-toogle' slug=photo.slug %}"
                    class="btn btn-outline-danger"> Like </a>
                {% endif %}


                  <!-- <button type="button" class="btn btn-outline-danger" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="AddValue()">
                    Like
                  </button> -->


                <script>
                  var startingNumber = 0;
                    function AddValue()
                    {
                       startingNumber++;
                       $('.likesnum').text(startingNumber);
                    }
                  </script>
              </td>
            </tr>
          {% endif %}
        {% empty %}
          <tr>
            <td colspan="3">No data.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <h1> Welcome to Wedding Upload!</h1>
      <h2>Please <a href="/accounts/login/">Log In</a> or <a href="/accounts/signup/">Sign Up</a> to view, upload and comment the photos.</h2>
    {% endif %}

{% endblock %}
