<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <title>Wedding Photos</title>

        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> -->

        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <!-- Jasny Bootstrap -->
        <link href="{% static 'css/jasny-bootstrap.min.css' %}" rel="stylesheet" media="screen">

        <link rel="stylesheet" href="{% static 'css/master.css' %}">
    </head>

    <body>

        <nav class="navbar mynav" role="navigation" id="navbar">

          <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Wedding Photos</a>
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li class="nav-item"><a href="#">Photos</a></li>
                <li class="nav-item"><a href="#">Upload a Photo</a></li>
                <li class="nav-item"><a href="{% url 'accounts:logout' %}">Log Out</a></li>
              {% else %}
                <li class="nav-item"><a href="#">Photos</a></li>
                <li class="nav-item"><a href="{% url 'accounts:login' %}">Log In</a></li>
                <li class="nav-item"><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
              {% endif %}
            </ul>

          </div>
        </nav>

        <div class="container mycontent">


          {% block content %}

          {% endblock %}

          <p id="status">Please select a photo to upload.</p>
          <!-- <img id="preview" src="/static/images/upload.png" />
          <input type="file" id="file_input"/>

          <form enctype="multipart/form-data" method="POST" action="/submit_form/">
            <input type="text" name="photo-title" placeholder="Photo Title">
            <input type="submit" value="Upload Photo">
          </form> -->


         <div class="fileinput fileinput-new" data-provides="fileinput" style="margin-left: auto; margin-right: auto; width: 100%;">
          <div class="fileinput-new thumbnail" style="width: 100%; height: 71vw;">
            <img src="{% static 'images/upload.png' %}" alt="...">
          </div>
          <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 100%; max-height: 60vw;"></div>
          <div>
            <span class="btn btn-primary btn-lg btn-block btn-file"><span class="fileinput-new">Select Image</span><span class="fileinput-exists">Change</span><input type="file" id="file-input"></span>
            <form enctype="multipart/form-data" method="POST" action="/submit_form/">
              <input type="text" name="photo-title" class="form-control form-control-lg fileinput-exists" style="margin-top: 15px; margin-bottom: 5px" placeholder="Photo Title">
              <input type="submit" class="btn btn-success btn-lg btn-block fileinput-exists" value="Upload Photo">
            </form>
          </div>
        </div>



        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>

        <script type="text/javascript">
        /*
          Function to carry out the actual POST request to S3 using the signed request from the Python app.
        */
        function uploadFile(file, s3Data, url){
          const xhr = new XMLHttpRequest();
          xhr.open('POST', s3Data.url);
          xhr.setRequestHeader('x-amz-acl', 'public-read');
          const postData = new FormData();
          for(key in s3Data.fields){
            postData.append(key, s3Data.fields[key]);
          }
          postData.append('file', file);
          xhr.onreadystatechange = () => {
            if(xhr.readyState === 4){
              if(xhr.status === 200 || xhr.status === 204){
                document.getElementById('preview').src = url;
                document.getElementById('avatar-url').value = url;
              }
              else{
                alert('Could not upload file.');
              }
            }
          };
          xhr.send(postData);
        }
        /*
          Function to get the temporary signed request from the Python app.
          If request successful, continue to upload the file using this signed
          request.
        */
        function getSignedRequest(file){
          const xhr = new XMLHttpRequest();
          xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
          xhr.onreadystatechange = () => {
            if(xhr.readyState === 4){
              if(xhr.status === 200){
                const response = JSON.parse(xhr.responseText);
                uploadFile(file, response.data, response.url);
              }
              else{
                alert('Could not get signed URL.');
              }
            }
          };
          xhr.send();
        }
        /*
           Function called when file input updated. If there is a file selected, then
           start upload procedure by asking for a signed request from the app.
        */
        function initUpload(){
          const files = document.getElementById('file-input').files;
          const file = files[0];
          alet(file);
          if(!file){
            return alert('No file selected.');
          }
          getSignedRequest(file);
        }
        /*
           Bind listeners when the page loads.
        */
        (() => {
          document.getElementById('file-input').onchange = initUpload;
        })();

        </script>


    </body>
</html>
