<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <title>Wedding Photos</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'weddingupload/css/master.css' %}">
    </head>

    <body>

        <nav class="navbar mynav" role="navigation" id="navbar">

          <div class="container">
            <a class="navbar-brand mynav" href="{% url 'home' %}">Wedding Photos</a>

            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li><a href="#">Photos</a></li>
                <li><a href="#">Upload a Photo</a></li>
                <li><a href="{% url 'accounts:logout' %}">Log Out</a></li>
              {% else %}
                <li><a href="#">Photos</a></li>
                <li><a href="{% url 'accounts:login' %}">Log In</a></li>
                <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
              {% endif %}
            </ul>

          </div>
        </nav>

        <div class="container mycontent">

          {% block content %}

          {% endblock %}

        </div>

    </body>
</html>
