{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <h1> Welcome {{ user.get_username }}!</h1>

  {% if user.is_authenticated %}
  <h5>Please select one to continue:</h5>
  <div>
      <a class="btn btn-info btn-lg" href="{% url 'photos:canvas' %}" style="margin-botom:5px;">See the Photos</a>
      <a class="btn btn-info btn-lg" href="{% url 'upload' %}">Upload a Photo</a>
  </div>
    {% else %}
    <h2>Please <a class="btn btn-outline-success" href="{% url 'accounts:login' %}">Log In </a> or <a class="btn btn-outline-dark" href="{% url 'accounts:signup' %}">Sign Up</a> to view, upload and comment the photos.</h2>
  {% endif %}
  
{% endblock %}
